<%= simple_form_for(@social_link) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :link_alt_email, label: "Contact Email Address:" %>
  	<%= f.input :link_linkedin, label: "LinkedIn Profile:" %>
  	<%= f.input :link_instagram, label: "Instagram Profile:" %>
  	<%= f.input :link_facebook, label: "Facebook Profile:" %>
  	<%= f.input :link_twitter, label: "Twitter Profile:" %>
  	<%= f.input :link_tumblr, label: "Tumblr Profile:" %>
  	<%= f.input :link_github, label: "Github Profile:" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
