<%= simple_form_for(@personal_info) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	    <%= f.input :about_pic, label: 'Headshot Picture:' %>
        <% if @personal_info.about_pic? %>
          <%= image_tag @personal_info.about_pic.url(:med) %>
          <br/><br/>
        <% end %>
        <%= f.input :vertical, inline_label: 'Vertical Photo' %>
        <br/>
  	    <%= f.input :intro_paragraph, label: 'Intro Paragraph', placeholder: "Thomas Edward Patrick 'Tom' Brady, Jr. (born August 3, 1977), nicknamed Tom Terrific, is an American football quarterback for the New England Patriots of the National Football League (NFL). After playing college football for the University of Michigan, Tom Brady was drafted by the Patriots in the sixth round of the 2000 NFL draft.... " %>
        <br/>
  	    <%= f.input :resume, label: 'Resume: (must be PDF file)' %>
        <% if @personal_info.resume? %>
          <a href = "<%= @personal_info.resume.url() %>" id="resume"><i class="fa fa-paperclip fa-1x"></i> &nbsp; View Full Resume </a><br/><br/><br/>
        <% end %>

        <%= f.input :exp1, label: "Logo of past experience 1:" %>
        <% if @personal_info.exp1? %>
          <%= image_tag @personal_info.exp1.url(:med) %>
           <%= f.input :remove_exp1, inline_label: 'Delete Experience' %>
        <% end %>
        <br/><br/>

        <%= f.input :exp2, label: "Logo of past experience 2:" %>
        <% if @personal_info.exp2? %>
          <%= image_tag @personal_info.exp2.url(:med) %>
          <%= f.input :remove_exp1, inline_label: 'Delete Experience' %>
        <% end %>
        <br/><br/>

        <%= f.input :exp3, label: "Logo of past experience 3:" %>
        <% if @personal_info.exp3? %>
          <%= image_tag @personal_info.exp3.url(:med) %>
          <%= f.input :remove_exp1, inline_label: 'Delete Experience' %>
        <% end %>
        <br/><br/>

        <%= f.input :exp4, label: "Logo of past experience 4:" %>
        <% if @personal_info.exp4? %>
          <%= image_tag @personal_info.exp4.url(:med) %>
          <%= f.input :remove_exp1, inline_label: 'Delete Experience' %>
        <% end %>
        <br/><br/>
  </div>

  <div class="form-actions">
    <br/>
    <%= f.button :submit, 'Save' %>
    <a href="#" data-reveal-id="previewModal" class = "button alt3">Preview</a>
  </div>
<% end %>
