<%= simple_form_for(@personal_info) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	    <%= f.input :name_first %>
  	    <%= f.input :name_last %>
  	    <%= f.input :about_pic %>
  	    <%= f.input :intro_paragraph %>
  	    <%= f.input :resume %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
