<div class = "row edit-page">
	<%= render 'application/sideNav'%>
	<div class = "small-12 medium-9 columns form-yield no-padding">
		<%= render 'application/topNav' %>
		<%= render 'application/alerts' %>

		<div class = "small-12 medium-9 columns edit-content-section">
			<div class = "edit-info-header">
				<h4> Edit Background Info </h4>
				<a href="#" data-reveal-id="instructModal">
					<i class="fa fa-info-circle"></i>&nbsp;Instructions
				</a>
			</div>

			<%= render 'form' %>
			<br/>
			<br/>
			<br/>

			<% if @background_info.background_type == 0 %>
			<h4 class = "edit-info-header"> Prior Experience </h4>
			<% else %>
			<h4 class = "edit-info-header"> Prior Education </h4>
			<% end %>
			<br/>

			<%= render @background_info.experiences.reverse %>
			<% if @background_info.experiences.count < 4 %>
			<% if @background_info.background_type == 0 %>
			<%= button_to "Add New Experience", new_experience_path, :class => "button", :method => :get %>
			<% else %>
			<%= button_to "Add New Education", new_experience_path, :class => "button", :method => :get %>
			<% end %>
			<% else %>
			<p class = "alt-text">Four is the maximum number of experiences. </p>
			<% end %>
			<br/>

			<%= render 'application/instructions_background_info' %>

		</div>
	</div>
</div>