<div class = "row edit-page">
  <%= render 'application/sideNav'%>
  <div class = "small-9 columns form-yield">

    <h4 class = "header"> Edit Reading List </h4>
    <%= button_to "New Article", new_article_path, :class => "button", :method => :get %>
    <br/>
    <br/>
    <% current_user.articles.each do |article| %>
        <h5><a href= "<%= article.url %>"><%= article.title %></a></h5>
        <%= article.summary %><br/>
        <%= link_to 'Show', article %> | 
        <%= link_to 'Edit', edit_article_path(article) %> | 
        <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br/>
        <br/>
    <% end %>
  </div>
</div>