
<div class = "row edit-page">
    <%= render 'application/sideNav'%>
    <div class = "small-12 medium-9 columns form-yield no-padding">
        <%= render 'application/topNav' %>
        <%= render 'application/alerts' %>

        <div class = "small-12 medium-9 columns edit-content-section">
            <div class = "edit-info-header">
                <h4> Edit Reading List </h4>
                <a href="#" data-reveal-id="instructModal">
                    <i class="fa fa-info-circle"></i>&nbsp;Instructions
                </a>
            </div>
    <%= button_to "New Article", new_article_path, :class => "button", :method => :get %>
    <br/>
    <br/>
    <% current_user.articles.each do |article| %>
        <h5><a href= "<%= article.url %>"><%= article.title %></a></h5>
        <%= article.summary %><br/>
        <small>
            <%= link_to 'Edit', edit_article_path(article) %> | 
            <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        </small>
        <br/>
        <br/>
    <% end %>
    <%= render 'application/instructions_reading_list' %>
  </div>
</div>
