<div class = "row edit-page">
  <%= render 'application/sideNav'%>
  <div class = "small-9 columns form-yield">


    <%= link_to 'New Article', new_article_path %>
    <br/>
    <br/>
    <% current_user.articles.each do |article| %>
        <%= article.title %><br/>
        <%= article.summary %><br/>
        <%= article.url %><br/>
        <%= link_to 'Show', article %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br/>
        <br/>
    <% end %>
  </div>
</div>