<div class = "row">
  <div class = "small-12 columns">
    <%= simple_form_for(@user) do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= f.input :domain_name %>
    <%= f.input :name_first %>
    <%= f.input :name_last %>
    <%= f.input :homepage_header %>
    <%= f.input :intro_paragraph %>
    <%= f.input :homepage_pic %>
    <%= f.input :about_pic %>
    <%= f.input :resume %>
    <%= f.label :background_type %>
    <%= f.collection_radio_buttons :background_type, [[0, 'Experience'] ,[1, 'Education']], :first, :last %>
    <%= f.input :background_img1 %>
    <%= f.input :background_img2 %>
    <%= f.input :background_img3 %>
    <%= f.input :background_img4 %>
    <br/>
    <%= f.button :submit %>
    <% end %>
  </div>
</div>