<div class = "small-12 columns text-center">
  <p class = "table-summary">
    These profiles have been approved by the CMC and are live!
  </p>
</div>
<table class = "review-table">
  <thead>
    <tr>
      <th width = "200" class = "text-center">Status</th>
      <th width="450" class = "text-center">Student Profile</th>
      <th width = "150"class = "text-center">Message</th>
      <th width = "175" class = "text-center">Approve</th>
      <th width = "175" class = "text-center">Deny</th>
    </tr>
  </thead>
  <tbody>
      <% @students.each do |user| %>

    <tr>

      <td class = "status-col">
        <% if user.approval == 0 %>
          <span class="unapproved"> <li>In progress</li> </span>
        <% elsif user.approval == 1 %>
          <span class="reviewing"> <li>In review </li></span>
        <% elsif user.approval == 2 %>
          <span class="pending"> <li>Pending approval </li></span>
        <% elsif user.approval == 3 %>
          <span class="approved"> <li>Approved</li> </span>
        <% else %>
      <% end %>
      </td>

      <td class = "username"> 

        <% if user.homepage_info.homepage_display_name != "" %>
          <%= link_to user_path(user) do %><i class="fa fa-user" aria-hidden="true"></i> <%=user.homepage_info.homepage_display_name %> <% end %>
        <% else %>
          <%= link_to user_path(user) do %><i class="fa fa-user" aria-hidden="true"></i> <%=user.email %> <% end %>
        <% end %>
      </td>


      <td>
        <a href="mailto:<%= user.email %>"><i class="fa fa-envelope-o fa-1x"></i> &nbsp; Message </a>
      </td>



        <td>
          CMC approved.
        </td>



        <td>
         <%= simple_form_for user do |f| %>    
            <%= f.input :approval, :as => :hidden, :input_html => { :value => 0} %>
            <%= hidden_field_tag(:approval_process, 1) %>
            <%= f.submit "! Take Offline !", class: "button deny-table", data: { confirm: 'Are you sure you want to take away the CMC approval and take this website offline?' }  %>  
        <% end %>
        </td>


      </tr>
    <% end %>
  </table>
