<% if @students != nil %>
  <% @students.order("RANDOM()").each do |user| %>
    <% if user.personal_info && user.homepage_info %>
      <% if user.homepage_info.homepage_display_name != "" && user.homepage_info.homepage_header != "" %>
        <div class = "small-12 small-centered columns instance person">

          <div class = "row unapproved">

            <div class = "small-4 columns">
              <div class = "pic about">
                <img src="<%= user.personal_info.about_pic.url() %>">
              </div>
            </div>
            <div class = "small-8 columns text-center">
              <h1> <%= link_to user.homepage_info.homepage_display_name, user_path(user)  %> </h1>
              <h5> <%= link_to user.homepage_info.homepage_header, user_path(user)  %></h5>

              <br/>
              <div class = "row">
                <div class "small-6 small-uncentered columns">
                  <%= button_to "View Profile", user_path(user.id), method: :get, :class => "button" %>
                </div>
               <div class "small-6 columns small-uncentered">
                  <%= mail_to user.email, "Message", class: "button alt3", subject: "Message from your reviewer about your BrandClub profile." %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <h1> No students in this category currently. </h1>
<% end %>  