<div class = "small-12 columns text-center">
  <p class = "table-summary">
    These profiles have been completed and reviewed. <br/>
    Please review the content and either approve for inclusion in the school resume book, or deny and send the student a message with requested changes.
  </p>
</div>
<div class = "small-12 columns small-centered text-center">
<table class = "review-table">
  <thead>
    <tr>
      <th width = "200" class = "text-center">Status</th>
      <th width="450" class = "text-center">Student Profile</th>
      <th width = "150"class = "text-center">Message</th>
      <% if current_clerk.power? %>
        <th width = "175" class = "text-center">Approve</th>
        <th width = "175" class = "text-center">Deny</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% @students.order("RANDOM()").each do |user| %>

    <tr height ="75">

      <td class = "status-col">
        <% if user.approval == 0 %>
          <span class="unapproved"> <li>In progress</li> </span>
        <% elsif user.approval == 1 %>
          <span class="reviewing"> <li>In review </li></span>
        <% elsif user.approval == 2 %>
          <span class="pending"> <li>Pending approval </li></span>
        <% elsif user.approval == 3 %>
          <span class="approved"> <li>Approved</li> </span>
        <% else %>
      <% end %>
      </td>

      <td class = "username"> 

        <% if user.homepage_info.homepage_display_name != "" %>
          <%= link_to user_path(user) do %><i class="fa fa-user" aria-hidden="true"></i> <%=user.homepage_info.homepage_display_name %> <% end %>
        <% else %>
          <%= link_to user_path(user) do %><i class="fa fa-user" aria-hidden="true"></i> <%=user.email %> <% end %>
        <% end %>
      </td>


      <td class = "message">
        <a href="mailto:<%= user.email %>"><i class="fa fa-envelope-o fa-1x"></i> &nbsp; Message </a>
      </td>


      <% if current_clerk.power? %>
        <td>
            <%= simple_form_for user do |f| %>    
              <%= f.input :approval, :as => :hidden, :input_html => { :value => 3} %>
              <%= hidden_field_tag(:approval_process, 1) %>
              <%= f.submit 'Approve', class: "button approve-table", data: { confirm: 'Please confirm you wish to submit this user for approval' }  %>  
          <% end %>   
        </td>



        <td>
         <%= simple_form_for user do |f| %>    
            <%= f.input :approval, :as => :hidden, :input_html => { :value => 0} %>
            <%= hidden_field_tag(:approval_process, 1) %>
            <%= f.submit "Deny", class: "button deny-table", data: { confirm: 'Please confirm you wish to deny this user review approval' }  %>  
        <% end %>
        </td>
    <% end %>

      </tr>
    <% end %>
  </table>
 </div>