<div class = "row edit-page">
	<%= render 'application/sideNav'%>
	<div class = "small-12 medium-9 columns form-yield no-padding">
		<%= render 'application/topNav' %>
		<%= render 'application/alerts' %>

		<div class = "small-12 medium-12 columns">
			<div class = "row scrollTop">
				<div class = "small-12 medium-8 small-centered medium-uncentered columns news-feed-container">
					<div id="projects">
						<%= render 'projects/projectUserView' %>
					</div>
					<div id="articles" style="display:none">
						<%= render 'articles/articleUserView' %>

					</div>
					<div id="photos" style="display:none">
						<p>Coming soon</p>
					</div>
					<div id="students" style="display:none">
						<%= render 'users/userUserView' %>
					</div>
				</div>
				<div class = "show-for-medium-up medium-4 columns selector-container">
					<div class = "options-list instance text-center">
						<div class = "link active-link" id = "projects-user-link">
							<a href="#projects">Projects </a>
						</div>
						<div class = "link" id = "articles-user-link">
							<a href="#articles">Articles </a>
						</div>
						<div class = "link" id = "photos-user-link">
							<a href="#photos">Photos </a>
						</div>
						<div class = "link" id = "students-user-link">
							<a href="#students">Students </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>