<div class = "row edit-page">
	<% if @user.school_id != nil %>
			<%= render 'application/sideNav'%>
			<div class = "small-12 medium-9 columns form-yield no-padding">
				<%= render 'application/topNav' %>
				<%= render 'application/alerts' %>

				<div class = "small-12 columns edit-content-section">
	            <div class = "edit-info-header">
	                <h4> Edit Candidate Profile</h4>
                    <a href="#" data-reveal-id="instructModal">
	                    <i class="fa fa-info-circle"></i>&nbsp;Instructions
	                </a>
	            </div>
				<%= render 'form' %>
				<%= render 'application/instructions_candidate' %>
			</div>
		</div>

	<% else %>
		<div class = "small-12 medium-12 columns form-yield no-padding">
			<%= render 'application/topNav2' %>

			<div class = "small-12 medium-8 columns text-center small-centered">
				<br/>
				<h3> You must be associated with a school before you can continue </h3>
				<div class = "small-6 columns small-centered">
					<%= render 'form' %>
				</div>
			</div>
		</div>

	<% end %>	
</div>