
<% content_for :title do %>
  <%= @user.name_first%>
<% end %>


<% content_for :custom_css do %> 
<style>
.row.hero {
  background: url("<%= @user.homepage_pic.url() %>") no-repeat center center fixed;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url("<%= @user.homepage_pic.url() %>");
}
</style>
<% end %>


<body>

  <div class="off-canvas-wrap fixed" data-offcanvas>
    <div class="inner-wrap">

      <!-- MOBILE NAV BAR -->
      <div class = "fixed">
        <nav class="tab-bar show-for-small-only">
          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>
        </nav>
      </div>

      <!-- MOBILE NAVIGATION OFFCANVAS LIST -->
      <aside class="right-off-canvas-menu" aria-hidden="true">
        <ul class="off-canvas-list">
          <li><label><%= @user.name_first %> <%= @user.name_last%></label></li>
          <li><a href="#about"><i class="fa fa-user fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;About</a></li>
          <li><a href="#projects"><i class="fa fa-flask fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Projects</a></li>
          <li><a href="#blog"><i class="fa fa-newspaper-o fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Reading List</a></li>
          <li><a href="#instagram"><i class="fa fa-instagram fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Photos</a></li>
          <li><a href="mailto:brianc.ayers@gmail.com"><i class="fa fa-envelope-o fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Contact</a></li>
        </ul>
      </aside>
      <!-- END MOBILE NAV OFFCANVAS -->

      <section class="main-section">


        <!-- START hero row -->
        <div class = "row hero">
          <div class = "small-12 columns text-center logo">
            <a href="#about">
              <h1><%= @user.name_first %> <%= @user.name_last %></h1>
              <h3><%= @user.homepage_header %></h3>
            </a>
          </div>
          <div class = "small-12 small-centered columns text-center arrow">
            <a href="#about"><i class="fa fa-angle-double-down fa-4x"></i></a>
          </div>
        </div>
        <!-- END hero row -->




        <div class = "show-for-medium-up">

          <!-- START DESKTOP NAVIGATION -->
          <div data-magellan-expedition="fixed">
            <dl class="sub-nav">
              <dd data-magellan-arrival="about"><a href="#about">About</a></dd>
              <dd data-magellan-arrival="projects"><a href="#projects">Projects</a></dd>
              <dd data-magellan-arrival="blog"><a href="#blog">Reading List</a></dd>
              <dd data-magellan-arrival="instagram"><a href="#instagram">Photos</a></dd>
              <dd><a href="mailto:BrianC.ayers@gmail.com">Contact</a></dd>
            </dl>
          </div>
        </div>
        <!-- END NAVIGATION -->

        <!-- START ABOUT SECTION -->

        <div class ="content section">
          <a name="about" data-magellan-destination="about"></a>
          <div class = "row">
            <div class = "small-12 small-cenetered columns">
              <h3 class = "header"> About </h3>
            </div>
          </div>
          <div class = "row">
            <div class = "small-12 small-centered columns">
              <div class = "pic about">
                <img src="<%= @user.about_pic.url() %>">
              </div>
            </div>
          </div>

          <div class = "row">
            <div class ="small-12 small-centered columns">
              <p>
                <%= @user.intro_paragraph %>
              </p>
            </div>
          </div>

          <div class = "row">
            <div class = "small-12 small-centered columns">
              <a href = "<%= @user.resume.url() %>"><i class="fa fa-paperclip fa-2x"></i> &nbsp; View Full Resume </a><br/><br/>
            </div>
          </div>


          <div class = "row pastExperience">
            <div class = "small-12 small-centered columns">
              <% if @user.background_type == 0 %>
                <h4 class = "header"> Experience </h4>
              <% else %>
                  <h4 class = "header"> Education </h4>
              <% end %>
              <% if @user.background_img1? %>
                <div class = "small-12 medium-3 columns experience_img">
                  <a href="http://<%= @user.background_link1 %>">  <%= image_tag @user.background_img1.url(:large) %></a>
                </div>
              <% end %>
              <% if @user.background_img2? %>
                <div class = "small-12 medium-3 columns experience_img">
                  <a href="http://<%= @user.background_link2 %>"> <%= image_tag @user.background_img2.url(:large) %></a>
                </div>
              <% end %>
              <% if @user.background_img3? %>
                <div class = "small-12 medium-3 columns experience_img">
                  <a href="http://<%= @user.background_link3 %>"> <%= image_tag @user.background_img3.url(:large) %></a>
                </div>
              <% end %>
              <% if @user.background_img4?%>
                <div class = "small-12 medium-3 columns experience_img">
                  <a href="http://<%= @user.background_link4 %>"> <%= image_tag @user.background_img4.url(:large) %></a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- END ABOUT SECTION   -->



          <!-- START PROJECT SECTION -->
          <div class = "content section">
            <a name = "projects" data-magellan-destination="projects"></a>
            <div class = "row">
              <div class = "small-12 small-cenetered columns">
                <h4 class = "header"> Projects </h3>
              </div>
            </div>
            <div class = "row">
              <div class = "small-12 small-centered columns">
                <h4> JumpStart MBA Competition </h4>
                <p> I participated in the 2014 Finance 2.0 and Consulting Case Private Equity Boot Camp competition. My team and I presented an LBO opportunity of Pfizer, which was recognized by the judges as the best analytical presentation. The excel model and powerpoint presentation are included below as a sample of my work </p>
                <a href="Pfizer_excel.xlsx"><i class="fa fa-file-excel-o fa-2x"></i> &nbsp; Excel Model</a><br/>
                <a href="Pfizer_ppt.pptx"><i class="fa fa-file-powerpoint-o fa-2x"></i> &nbsp; Powerpoint Presentation</a>
              </div>
              <br/><br/>
            </div>
            <div class = "row">
              <div class = "small-12 small-centered columns">
                <!-- <img src="img/NAYP.png"></img> -->
                <h4> Network for Aspiring Young Professionals </h4>
                <p> As an <a href="http://www.inroads.org/">Inroads </a>alumnus and mentor I enjoy connecting with students. My desire to increase financial literacy while having an impact in my community inspired me to find the <a href="www.wearenayp.org">Network for Aspiring Young Professionals</a>. The organization holds sessions to help underserved students learn economic concepts, current economic issues & conditions, basic corporate &amp; personal finance, networking skills, and pre-college mentoring. </p>
              </div>
              <br/><br/>
            </div>
            <div class = "row">
              <div class = "small-12 small-centered columns">
                <!-- <img src="img/thorobird.jpg"></img> -->
                <h4> Affordable Housing Development </h4>
                <p> Growing up in a one bedroom basement apartment in Brooklyn, NY with a family of seven was very challenging. My humble beginnings taught me many valuable life lessons, among them was the challenge of affordable housing. Leveraging my real estate finance experience I did pro-bono work for an affordable housing development project in Bronx, NY with <a href="http://www.thorobird.com/index.html">Thorobird.</a>  </p>
              </div>
              <br/><br/>
            </div>
          </div>
          <!-- END PROJECT SECTION -->



        <!-- START BLOG SECTION -->
        <div class = "content section blog">
          <a name = "blog" data-magellan-destination="blog"></a>
          <div class = "row blog">
            <div class = "small-12 columns">
              <h3 class = "header text-left"> Reading List </h3>
              <ul class="no-bullet">
                <script type="text/javascript" src="http://brian-ayers.tumblr.com/js"></script>
              </ul>
            </div>
          </div>
        </div>
        <!-- END BLOG SECTION -->


        <!-- START INSTAGRAM SECTION -->
        <div class = "content section insta">
          <a name = "instagram" data-magellan-destination="instagram"></a>
          <div class = "row">
            <div class = "small-12 small-centered columns center-text">
              <h3 class = "header"> Photos </h3>
            </div>
            <div class = "small-12 small-centered columns center-text">
              <ul class="small-block-grid-3">
                <div id="instafeed"></div>
              </ul>
            </div>
          </div>
        </div>
        <!-- END INSTAGRAM SECTION -->

        <!-- START FOOTER SECTION -->
        <div class = "footer section">
          <div class = "row">
            <div class = "small-12 large-4 small-centered columns">
              <div class = "icons">
                <a href="https://www.facebook.com/brianCayers"><i class="fa fa-facebook fa-1x"></i></a>
                <a href="https://www.linkedin.com/in/briancayers"><i class="fa fa-linkedin fa-1x"></i></a>
                <a href="https://github.com/bayers92"><i class="fa fa-github-alt fa-1x"></i></a>
                <a href="http://instagram.com/brian_ayers"><i class="fa fa-instagram fa-1x"></i></a>
              </div>
            </div>
            <div class = "small-12 large-8 small-centered columns">
              <a href="mailto:brianc.ayers@gmail.com"><i class="fa fa-envelope-o fa-1x"></i> &nbsp; brianc.ayers@gmail.com </a>
            </div>    
          </div>
        </div>
        <!-- END FOOTER SECTION -->
      </section> 
      <!-- END MAIN SECTION -->
      <a class="exit-off-canvas"></a>
    </div>
    <!-- END OFF-CANVAS WRAP -->

    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
  </html>
