<% content_for :title do %>
  <%= @user.homepage_info.homepage_display_name%>
<% end %>


<% content_for :custom_css do %> 
<style>
.heading {
    display: none !important;
}
.row.hero {
  background: url("<%= @user.homepage_info.homepage_pic.url() %>") no-repeat center center fixed;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url("<%= @user.homepage_info.homepage_pic.url() %>");
}
</style>
<% end %>


<!-- CHANGING PRIMARY-COLOR FOR USER -->
<% if @user.website_setting != nil %>
  <% if @user.website_setting.color == 1 %>
    <%= render 'primary_color1' %>
  <% elsif @user.website_setting.color == 2 %>
    <%= render 'primary_color2' %>
  <% elsif @user.website_setting.color == 3 %>
    <%= render 'primary_color3' %>
  <% elsif @user.website_setting.color == 4 %>
    <%= render 'primary_color4' %>
  <% elsif @user.website_setting.color == 5 %>
    <%= render 'primary_color5' %>
  <% end %>
<% end %>


  <!-- LOADING GRAPHIC PAGE -->
<style>
  /* This only works with JavaScript, 
     if it's not present, don't show loader */
  .no-js #loading_page { display: none;  }
  .js .loading_page { display: block; background-color: white; position: absolute; left: 0px; top: 0px; height: 100%; width: 100%; z-index: 99999;}
</style>





<body>

    <div class = "loading_page" id ="loading_page">
    <h2 id = "loading_title"> <%= @user.homepage_info.homepage_display_name %> </h2>
    <div id = "loader">
      <%= image_tag "loader.gif" %>
    </div>
  </div>


  <div class="off-canvas-wrap fixed" data-offcanvas>
    <div class="inner-wrap">

      <!-- MOBILE NAV BAR -->
      <div class = "fixed">
        <nav class="tab-bar show-for-small-only">
          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>
        </nav>
      </div>

      <!-- MOBILE NAVIGATION OFFCANVAS LIST -->
      <aside class="right-off-canvas-menu" aria-hidden="true">
        <ul class="off-canvas-list">
          <li><label><%= @user.homepage_info.homepage_display_name %></label></li>
          <li><a href="#about"><i class="fa fa-user fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;About</a></li>
          <li><a href="#projects"><i class="fa fa-flask fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Projects</a></li>
          <li><a href="#blog"><i class="fa fa-newspaper-o fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Reading List</a></li>
          <li><a href="#photos"><i class="fa fa-instagram fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Photos</a></li>
          <li><a href="mailto:<%=@user.email%>"><i class="fa fa-envelope-o fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Contact</a></li>
        </ul>
      </aside>
      <!-- END MOBILE NAV OFFCANVAS -->

      <section class="main-section">
        <div class = "edit-profile-button-div">
          <% if user_signed_in? %>
            <%= button_to "Edit Profile", edit_user_path(current_user), :class => "button round custom3", :method => :get  %>      
          <% end %>
        </div>


        <!-- START hero row -->
        <div class = "row hero">
          <div class = "small-12 columns text-center logo">
            <a href="#about">
              <h1><%= @user.homepage_info.homepage_display_name %></h1>
              <h3><%= @user.homepage_info.homepage_header %></h3>
            </a>
          </div>
          <div class = "small-12 small-centered columns text-center arrow">
            <a href="#about"><i class="fa fa-angle-double-down fa-4x"></i></a>
          </div>
        </div>
        <!-- END hero row -->




        <div class = "show-for-medium-up">

          <!-- START DESKTOP NAVIGATION -->
          <div data-magellan-expedition="fixed">
            <dl class="sub-nav">
              <dd data-magellan-arrival="about"><a href="#about">About</a></dd>
              <dd data-magellan-arrival="projects"><a href="#projects">Projects</a></dd>
              <dd data-magellan-arrival="blog"><a href="#blog">Reading List</a></dd>
              <dd data-magellan-arrival="photos"><a href="#photos">Photos</a></dd>
              <dd><a href="mailto:<%=@user.email%>">Contact</a></dd>
            </dl>
          </div>
        </div>
        <!-- END NAVIGATION -->

        <!-- START ABOUT SECTION -->

        <div class ="content section">
          <a name="about" data-magellan-destination="about"></a>
          <div class = "row">
            <div class = "small-12 small-cenetered columns">
              <h3 class = "header"> About </h3>
            </div>
          </div>

          <!-- Horizontal Photo Start -->
          <% if @user.personal_info.vertical == false %>
            <div class = "row">
              <div class = "small-12 small-centered columns">
                <div class = "pic about">
                  <img src="<%= @user.personal_info.about_pic.url() %>">
                </div>
              </div>
            </div>

            <div class = "row">
              <div class ="small-12 small-centered columns">
                <p>
                  <%= @user.personal_info.intro_paragraph %>
                </p>
              </div>
            </div>

            <!-- Vertical Photo Start -->
          <% else %>
            <div class = "row">
              <div class = "small-12 medium-4 columns">
                <img src="<%= @user.personal_info.about_pic.url() %>">
              </div>
              <div class ="small-12 small-centered columns">
                <p>
                  <%= @user.personal_info.intro_paragraph %>
                </p>
              </div>
            </div>
          <% end %>

          <div class = "row">
            <div class = "small-12 small-centered columns">
              <a href = "<%= @user.personal_info.resume.url() %>"><i class="fa fa-paperclip fa-2x"></i> &nbsp; View Full Resume </a><br/><br/>
            </div>
          </div>


          <div class = "row pastExperience">
            <div class = "small-12 small-centered columns">
              <% if @user.personal_info.exp1_file_name != nil %>
                <h4 class = "header"> Prior Experience </h4>
                <div class = "small-12 medium-3 columns experience_img">
                  <%= image_tag @user.personal_info.exp1.url(:large) %>
                </div>
              <% end %>

              <% if @user.personal_info.exp2_file_name != nil %>
                <div class = "small-12 medium-3 columns experience_img">
                  <%= image_tag @user.personal_info.exp2.url(:large) %>
                </div>
              <% end %>


              <% if @user.personal_info.exp3_file_name != nil %>
                <div class = "small-12 medium-3 columns experience_img">
                  <%= image_tag @user.personal_info.exp3.url(:large) %>
                </div>
              <% end %>


              <% if @user.personal_info.exp4_file_name != nil %>
                <div class = "small-12 medium-3 columns experience_img">
                  <%= image_tag @user.personal_info.exp4.url(:large) %>
                </div>
              <% end %>


            </div>
          </div>
        </div>
        <!-- END ABOUT SECTION   -->



        <!-- START PROJECT SECTION -->
        <div class = "content section">
          <a name = "projects" data-magellan-destination="projects"></a>
          <div class = "row">
            <div class = "small-12 small-cenetered columns">
              <h3 class = "header"> Projects </h3>
            </div>
          </div>
          <%= render 'projects/project0' %>
        </div>
            <!-- END PROJECT SECTION -->


        <!-- START BLOG SECTION -->
        <div class = "content section blog">
          <a name = "blog" data-magellan-destination="blog"></a>
          <div class = "row blog">
            <div class = "small-12 columns">
              <h3 class = "header text-left"> Reading List </h3>
              <h5 class = "dark-gray"><i> Articles from around the web that I've found interesting </i> </h5>
              <br/>
              <ul class="small-block-grid-1 medium-block-grid-1 no-bullet articles data-equalizer">
                <% @user.articles.each do |article| %>
                  <li = "post data-equalizer-watch"> 
                    <a href= "<%= article.url %>">
                      <h4> <%= article.title %> </h4>
                      <p> <%= article.summary %> </p>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- END BLOG SECTION -->


        <!-- START INSTAGRAM SECTION -->
        <div class = "content section photos">
          <a name = "photos" data-magellan-destination="photos"></a>
          <div class = "row">
            <div class = "small-12 small-centered columns">
              <h3 class = "header"> Photos </h3>
            </div>
            <div class = "small-12 small-centered columns center-text">
              <ul class="no-bullet">
                <script type="text/javascript" src="//<%= @user.photo_link.tumblr_url %>.tumblr.com/js"></script>
              </ul>
            </div>
          </div>
          <div class = "row">
            <div class = "small-12 columns">
              <p class = "small"> <a href="http://<%= @user.photo_link.tumblr_url %>.tumblr.com"> View more photos <i class="fa fa-arrow-right"></i></a> </p>
            </div>
          </div>
        </div>
        <!-- END INSTAGRAM SECTION -->

        <!-- START FOOTER SECTION -->
        <div class = "footer section">
          <div class = "row">
            <div class = "small-12 large-4 small-centered columns">
              <div class = "icons">

                <% if @user.social_link.link_linkedin? %>
                  <a href="<%= @user.social_link.link_linkedin %>"><i class="fa fa-linkedin fa-1x"></i></a>
                <% end %>

                <% if @user.social_link.link_twitter? %>
                  <a href="<%= @user.social_link.link_twitter %>"><i class="fa fa-twitter fa-1x"></i></a>
                <% end %>

                <% if @user.social_link.link_facebook? %>
                  <a href="<%= @user.social_link.link_facebook %>"><i class="fa fa-facebook fa-1x"></i></a>
                <% end %>

                <% if @user.social_link.link_github? %>
                  <a href="<%= @user.social_link.link_github %>"><i class="fa fa-github-alt fa-1x"></i></a>
                <% end %>

                <% if @user.social_link.link_instagram? %>
                  <a href="<%= @user.social_link.link_instagram %>"><i class="fa fa-instagram fa-1x"></i></a>
                <% end %>

                <% if @user.social_link.link_tumblr? %>
                  <a href="<%= @user.social_link.link_tumblr %>"><i class="fa fa-tumblr fa-1x"></i></a>
                <% end %>
              </div>
            </div>
            <div class = "small-12 large-8 small-centered columns">
              <% if @user.social_link.link_alt_email? %>
                <a href="mailto:<%= @user.social_link.link_alt_email %>"><i class="fa fa-envelope-o fa-1x"></i> &nbsp; <%= @user.social_link.link_alt_email %> </a>
              <% else %>
              <a href="mailto:<%= @user.email %>"><i class="fa fa-envelope-o fa-1x"></i> &nbsp; <%= @user.email %> </a>
              <% end %>
            </div>    
          </div>
        </div>
        <!-- END FOOTER SECTION -->
      </section> 
      <!-- END MAIN SECTION -->
      <a class="exit-off-canvas"></a>
    </div>
    <!-- END OFF-CANVAS WRAP -->
  </body>
