<% content_for :custom_css do %> 
<style>
.row.hero {
  background: url(<%= asset_path 'brandclub_bg.jpg'%>) no-repeat center center fixed;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url(<%= asset_path 'brandclub_bg.jpg'%>);
}
</style>
<% end %>
    <div class = "heading">
      <div class = "small-8 medium-10 columns">
        <div class = "logo">
          <a href="/">
            <%= image_tag "brandclub_logo.png" %>
          </a>
        </div>
      </div>
      <div class = "small-4 medium-2 columns devise_links">
        <% if user_signed_in? %>
          <%= button_to "View Profile", edit_user_path(current_user), :class => "button round custom", :method => :get  %>      
        <% else %>
          <%= button_to "Login", new_user_session_path, :class => "button round custom" %>
        <% end %>
      </div>
    </div>

<!-- START hero row -->
<div class = "row hero homepage">
	<div class = "small-12 medium-6 medium-offset-6 columns text-left title">
	  <h1>DEFINE <br/> YOUR<br/> BRAND</h1>
	</div>
</div>
<!-- END hero row -->