<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :title, placeholder: 'Data Analysis of Industry M&A' %>
  	<%= f.input :paragraph, placeholder: 'In my Corporate Finance class I conducted the attached project on.. ' %>
  	<%= f.input :file1 %>
    <%= f.input :file1_file_name %>
  	<%= f.input :file2 %>
    <%= f.input :file2_file_name %>
  	<%= f.input :file3 %>
    <%= f.input :file3_file_name %>
  	<%= f.input :file4 %>
    <%= f.input :file4_file_name %>
  </div>

  <div class="form-actions">
    <div class = "small-6 columns left">
      <%= f.button :submit %>
  </div>
  <div class = "small-6 columns right text-right">
    <br/>
      <a href="javascript:history.back()"> Cancel </a>
  </div>
<% end %>
