<div class ="row portfolio">
<% @user.projects.each do |project| %>
	<% if project.file2? %>
		 <a href="<%= project.file2.url() %>">
 	<% else %>
		<a href="<%= project.url %>">
	<% end %>
		<div class = "client">
			<%= image_tag project.file1.url %>
			<div class = "small-12 columns text">
				<h2> <b><%= project.title %></b> </h2>
				<p> <%= project.paragraph %> </p>
			</div>
		</div>
	</a>
<% end %>