<h4 class = "header"> Edit Past Experience </h4>
<%= simple_form_for(@experience) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
        <%= f.input :img, label: "Logo of past experience: (200 x 200 pixels)"%>
  	    <%= f.input :url, label: "URL link to website of experience:", placeholder: "Include the full http:// link" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
