<%= simple_form_for(@website_setting) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<!-- <%= f.input :domain_name, label: "Desired Domain Name:" %> -->
	<p> <i> Select theme color: </i></p>
  	<%= f.collection_radio_buttons :color, [[0, 'Orange'] ,[1, 'Green'], [2, 'Light Blue'], [4, 'Light Red'], [3, 'Purple']], :first, :last%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
