<div class = "row edit-page">
	<%= render 'application/sideNav'%>
	<div class = "small-12 medium-9 columns form-yield no-padding">
		<%= render 'application/topNav' %>
		<%= render 'application/alerts' %>

		<div class = "small-12 medium-9 columns edit-content-section">
			<div class = "edit-info-header">
				<h4> Showcase </h4>
				<a href="#" data-reveal-id="instructModal">
					<i class="fa fa-info-circle"></i>&nbsp;Instructions
				</a>
			</div>


			<%= button_to "Add New Project", new_project_path, :class => "button", :method => :get %>
			<br/>

			<%= render 'projects_edit_view' %>
			
			<br/>


			<%= render 'application/instructions_showcase' %>
		</div>
	</div>
</div>