<div class = "row">
  <div class = "small-12 columns">
    <h3> Approved websites (<%= @users.where(approval: 3).count %>)</h3> 
    <table>
      <thead>
        <tr>
          <th> # ID </th>
          <th> Grad Year </th>
          <th> Student Name </th>
          <th> Domain Name </th>
          <th> Domain Status </th>
          <th> Action</th>
        </tr>
      </thead>

      <tbody>
        <% @users.where(approval: 3).find_each do |user| %>
        <tr>
          <td> <%= user.id %></td>
          <td> <%= user.gradyear %> </td>
          <% if user.homepage_info != nil && user.homepage_info.homepage_display_name != nil && user.homepage_info.homepage_display_name != ""%>
          <td> <%= link_to user.homepage_info.homepage_display_name, user_path(user) %> </td>
          <% else %>
          <td><%= link_to user.email, user_path(user) %> </td>
          <% end %>
          <% if user.domain != nil %>
          <td> <strong><%= user.domain.url%></td></strong>
          <% else %>
          <td></td>
          <% end %>
          <td>
            <% if user.domain != nil %>
            <% if (user.domain.url!= "" && user.domain.url!= nil) %>
            <% if user.dstatus == 1 %>
            Purchased.
            <% else %>
            <strong><a href="http://whois.com"> Need to purchase <i class ="fa fa-arrow-right"></i></a></strong>
            <% end %>
            <% else %>
            n/a
            <% end %>
            <% else %>
            n/a
            <% end %>
          </td> 


          <td>
            <% if user.domain != nil %>
            <% if (user.domain.url!= "" && user.domain.url!= nil) %>
            <% if user.dstatus == 1 %>
            <%= simple_form_for user do |f| %>    
            <%= f.input :dstatus, :as => :hidden, :input_html => { :value => 0} %>
            <%= hidden_field_tag(:dstatus_process, 1) %>
            <%= f.submit "Mark NOT Purchased", class: "button small deny", data: { confirm: 'Please confirm you wish to mark this domian as not purchased.' }  %> 
            <% end %>
            <% else %>
            <%= simple_form_for user do |f| %>    
            <%= f.input :dstatus, :as => :hidden, :input_html => { :value => 1} %>
            <%= hidden_field_tag(:dstatus_process, 1) %>
            <%= f.submit "Mark Purchased", class: "button small approve", data: { confirm: 'Please confirm you have purchased and set up this domain.' }  %>  
            <% end %>
            <% end %>
            <% else %>
            <% end %>
            <% end %>
          </td>


        </tr>
        <% end %>
      </tbody>
    </table>
  </div>







  <div class = "small-12 columns">
    <h3> Pending CMC approval  (<%= @users.where(approval: 2).count %>)</h3> 
    <table>
      <thead>
        <tr>
          <th> # ID </th>
          <th> Grad Year </th>
          <th> Student Name </th>
          <th> Domain Name </th>
          <th> Domain Status </th>
          <th> Action</th>
        </tr>
      </thead>

      <tbody>
        <% @users.where(:approval => 2).find_each do |user| %>
        <tr>
          <td> <%= user.id %></td>
          <td> <%= user.gradyear %> </td>
          <% if user.homepage_info != nil && user.homepage_info.homepage_display_name != nil && user.homepage_info.homepage_display_name != ""%>
          <td> <%= link_to user.homepage_info.homepage_display_name, user_path(user) %> </td>
          <% else %>
          <td><%= link_to user.email, user_path(user) %> </td>
          <% end %>
          <% if user.domain != nil %>
          <td> <strong><%= user.domain.url%></td></strong>
          <% else %>
          <td></td>
          <% end %>
          <td>
            <% if user.domain != nil %>
            <% if (user.domain.url!= "" && user.domain.url!= nil) %>
            <% if user.dstatus == 1 %>
            Purchased.
            <% else %>
            <strong><a href="http://whois.com"> Need to purchase <i class ="fa fa-arrow-right"></i></a></strong>
            <% end %>
            <% else %>
            n/a
            <% end %>
            <% else %>
            n/a
            <% end %>
          </td> 


          <td>
            <% if user.domain != nil %>
            <% if (user.domain.url!= "" && user.domain.url!= nil) %>
            <% if user.dstatus == 1 %>
            <%= simple_form_for user do |f| %>    
            <%= f.input :dstatus, :as => :hidden, :input_html => { :value => 0} %>
            <%= hidden_field_tag(:dstatus_process, 1) %>
            <%= f.submit "Mark NOT Purchased", class: "button small deny", data: { confirm: 'Please confirm you wish to mark this domian as not purchased.' }  %> 
            <% end %>
            <% else %>
            <%= simple_form_for user do |f| %>    
            <%= f.input :dstatus, :as => :hidden, :input_html => { :value => 1} %>
            <%= hidden_field_tag(:dstatus_process, 1) %>
            <%= f.submit "Mark Purchased", class: "button small approve", data: { confirm: 'Please confirm you have purchased and set up this domain.' }  %>  
            <% end %>
            <% end %>
            <% else %>
            <% end %>
            <% end %>
          </td>


        </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <div class = "small-12 columns">
    <h3> Under Review  (<%= @users.where(approval: 1).count %>)</h3> 
    <table>
      <thead>
        <tr>
          <th> # ID </th>
          <th> Grad Year </th>
          <th> Student Name </th>
          <th> Domain Name </th>
          <th> Domain Status </th>
          <th> Action</th>
        </tr>
      </thead>

      <tbody>
        <% @users.where(:approval => 1).find_each do |user| %>
        <tr>
          <td> <%= user.id %></td>
          <td> <%= user.gradyear %> </td>
          <% if user.homepage_info != nil && user.homepage_info.homepage_display_name != nil && user.homepage_info.homepage_display_name != ""%>
            <td> <%= link_to user.homepage_info.homepage_display_name, user_path(user) %> </td>
          <% else %>
            <td><%= link_to user.email, user_path(user) %> </td>
          <% end %>
          <% if user.domain != nil %>
          <td> <strong><%= user.domain.url%></td></strong>
          <% else %>
          <td></td>
          <% end %>
          <td>
            <% if user.domain != nil %>
            <% if (user.domain.url!= "" && user.domain.url!= nil) %>
            <% if user.dstatus == 1 %>
            Purchased.
            <% else %>
            <strong><a href="http://whois.com"> Need to purchase <i class ="fa fa-arrow-right"></i></a></strong>
            <% end %>
            <% else %>
            n/a
            <% end %>
            <% else %>
            n/a
            <% end %>
          </td> 


          <td>
            <% if user.domain != nil %>
            <% if (user.domain.url!= "" && user.domain.url!= nil) %>
            <% if user.dstatus == 1 %>
            <%= simple_form_for user do |f| %>    
            <%= f.input :dstatus, :as => :hidden, :input_html => { :value => 0} %>
            <%= hidden_field_tag(:dstatus_process, 1) %>
            <%= f.submit "Mark NOT Purchased", class: "button small deny", data: { confirm: 'Please confirm you wish to mark this domian as not purchased.' }  %> 
            <% end %>
            <% else %>
            <%= simple_form_for user do |f| %>    
            <%= f.input :dstatus, :as => :hidden, :input_html => { :value => 1} %>
            <%= hidden_field_tag(:dstatus_process, 1) %>
            <%= f.submit "Mark Purchased", class: "button small approve", data: { confirm: 'Please confirm you have purchased and set up this domain.' }  %>  
            <% end %>
            <% end %>
            <% else %>
            <% end %>
            <% end %>
          </td>


        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class = "small-12 columns">
    <h3> In Progress  (<%= @users.where(approval: 0).count %>)</h3> 
    <table>
      <thead>
        <tr>
          <th> # ID </th>
          <th> Grad Year </th>
          <th> Student Name </th>
          <th> Domain Name </th>
          <th> Domain Status </th>
          <th> Action</th>
        </tr>
      </thead>

      <tbody>
        <% @users.where(:approval => 0).find_each do |user| %>
        <tr>
          <td> <%= user.id %></td>
          <td> <%= user.gradyear %> </td>
          <% if user.homepage_info != nil && user.homepage_info.homepage_display_name != nil && user.homepage_info.homepage_display_name != ""%>
          <td> <%= link_to user.homepage_info.homepage_display_name, user_path(user) %> </td>
          <% else %>
          <td><%= link_to user.email, user_path(user) %> </td>
          <% end %>
          <% if user.domain != nil %>
          <td> <strong><%= user.domain.url%></td></strong>
          <% else %>
          <td></td>
          <% end %>
          <td>
            <% if user.domain != nil %>
            <% if (user.domain.url!= "" && user.domain.url!= nil) %>
            <% if user.dstatus == 1 %>
            Purchased.
            <% else %>
            <strong><a href="http://whois.com"> Need to purchase <i class ="fa fa-arrow-right"></i></a></strong>
            <% end %>
            <% else %>
            n/a
            <% end %>
            <% else %>
            n/a
            <% end %>
          </td> 


          <td>
            <% if user.domain != nil %>
            <% if (user.domain.url!= "" && user.domain.url!= nil) %>
            <% if user.dstatus == 1 %>
            <%= simple_form_for user do |f| %>    
            <%= f.input :dstatus, :as => :hidden, :input_html => { :value => 0} %>
            <%= hidden_field_tag(:dstatus_process, 1) %>
            <%= f.submit "Mark NOT Purchased", class: "button small deny", data: { confirm: 'Please confirm you wish to mark this domian as not purchased.' }  %> 
            <% end %>
            <% else %>
            <%= simple_form_for user do |f| %>    
            <%= f.input :dstatus, :as => :hidden, :input_html => { :value => 1} %>
            <%= hidden_field_tag(:dstatus_process, 1) %>
            <%= f.submit "Mark Purchased", class: "button small approve", data: { confirm: 'Please confirm you have purchased and set up this domain.' }  %>  
            <% end %>
            <% end %>
            <% else %>
            <% end %>
            <% end %>
          </td>


        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

