<style>
  h1, h2, h3, h4, h5, h6, p {
  	color: <%= @school.color1 %> !important;
  }
  #projects a, a {
  	color: <%= @school.color2 %> !important;
  }
  #students a {
  	color: <%= @school.color1 %> !important;
  }

</style>

<body>
	<div class = "row no-padding" id ="school-page">
		<!-- START TOP SECTION -->
		<div class = "row no-padding top" style = "background-color:<%=@school.color2%>">
			<div class = "small-12 columns small-centered text-center">
				<%= image_tag @school.logo.url(:med) %>
			</div>
			<div class = "show-for-medium-up">
				<div class = "row top-nav" style = "background-color:<%=@school.color1%>">
					<div class = "small-3 columns text-center">
						<a href="#projects" id ="project-link">Projects </a>
					</div>
					<div class = "small-3 columns text-center">
						<a href="#articles" id = "articles-link">Articles </a>
					</div>
					<div class = "small-3 columns text-center">
						<a href="#photos" id = "photos-link">Photos </a>
					</div>
					<div class = "small-3 columns text-center">
						<a href="#students" id = "students-link">Students </a>
					</div>
				</div>
			</div>
		</div>
		<!-- END TOP SECTION -->
		<!-- TOP SECTION SPACER -->
		<div class = "top-spacer"></div>


		<!-- START CONTENT SECTION -->
		<div id="projects">
			<div class = "small-12 medium-6 columns small-centered">
				<%= render 'projects/projectSchoolView' %>
			</div>
		</div>

		<div id="articles" style="display:none">
			<p> coming soon </p>
		</div>

		<div id="photos" style="display:none">
			<p> coming soon </p>
		</div>

		<div id="students" style="display:none">
			<div class = "small-12 medium-6 columns small-centered">
				<%= render 'users/userSchoolView' %>
			</div>
		</div>
		<!-- END CONTENT SECTION -->
	</div>

</body>
