<style>
  h1, h2, h3, h4, h5, h6, p {
  	color: <%= @school.color1 %> !important;
  }
  <% if @school.color2 != "#FFFFFF" %>
  #projects a, a {
  	color: <%= @school.color2 %> !important;
  }
  <% else %>
  #projects a, a {
  	color: <%= @school.color1 %> !important;
  }
  <% end %>
  #students a {
  	color: <%= @school.color1 %> !important;
  }

</style>



<body>
	<div class = "row no-padding" id ="school-page">
		<!-- START TOP SECTION -->
		<div class = "row no-padding top" style = "background-color:<%=@school.color2%>">
			<div class = "small-12 columns small-centered text-center">
				<%= image_tag @school.logo.url(:med) %>
			</div>
			<div class = "show-for-medium-up">
				<div class = "row top-nav" style = "background-color:<%=@school.color1%>">
					<div class = "small-3 columns text-center">
						<a href="#students" id = "students-link active-link">Students </a>
					</div>
					<div class = "small-3 columns text-center">
						<a href="#projects" id ="project-link">Projects </a>
					</div>
					<div class = "small-3 columns text-center">
						<a href="#articles" id = "articles-link">Articles </a>
					</div>
					<div class = "small-3 columns text-center">
						<a href="#photos" id = "photos-link">Photos </a>
					</div>
				</div>
			</div>
		</div>
		<!-- TOP SECTION SPACER -->
		<!-- <div class = "top-spacer"></div> -->
		<!-- END TOP SECTION -->



		<!-- START CONTENT SECTION -->
		<div class = "content-section">

			<!-- Students -->
			<div id="students">
				<div class = "top-spacer"></div>

				<br/><br/>
				<div class = "medium-3 medium-offset-1 columns instance">
					<%= form_tag school_path(@school), method: 'get', class: 'tag_form' do %>
					  
					  <p> Search by industry: </p>
					  <%= select_tag "industry[]", options_from_collection_for_select(Industry.all, 'name', 'name', params[:industry]), {multiple: true, size: '10%', class: 'chosen-select'} %>

					  <br/>
					  <br/>
					  <p> Search by career focus: </p>
					  <%= select_tag "career[]", options_from_collection_for_select(Career.all, 'name', 'name', params[:career]), {multiple: true, size: '10%', class: 'chosen-select'} %>
					  <%= submit_tag "Filter posts" %>
					<% end %>
					
				</div>
				<div class = "small-12 medium-7 medium-offset-1 columns small-centered medium-uncentered">
					<%= render 'users/userSchoolView' %>
				</div>
			</div>
			<!-- End students -->


			<!-- Projects -->
			<div id="projects" style="display:none">
				<div class = "top-spacer"></div>
				<div class = "small-12 medium-8 columns small-centered">
					<%= render 'projects/projectSchoolView' %>
				</div>
			</div>
			<!-- End Projects -->

			<!-- Articles -->
			<div id="articles" style="display:none">
				<div class = "top-spacer"></div>
				<div class = "small-12 medium-8 columns small-centered">
					<%= render 'articles/articleSchoolView' %>
				</div>
			</div>
			<!-- End Articles -->

			<!-- Photos -->
			<div id="photos" style="display:none">
				<div class = "top-spacer"></div>
				<div class = "small-12 columns small-centered">
					<%= render 'photos/photoSchoolView' %>
				</div>
			</div>
			<!-- End photos -->

		</div>
		<!-- END CONTENT SECTION -->
	</div>

</body>
