<h1>Listing photo_links</h1>

<table>
  <thead>
    <tr>
      <th>Tumblr url</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_links.each do |photo_link| %>
      <tr>
        <td><%= photo_link.tumblr_url %></td>
        <td><%= photo_link.user %></td>
        <td><%= link_to 'Show', photo_link %></td>
        <td><%= link_to 'Edit', edit_photo_link_path(photo_link) %></td>
        <td><%= link_to 'Destroy', photo_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo link', new_photo_link_path %>
