<%= simple_form_for(@homepage_info) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :homepage_header %>
    <%= f.input :homepage_display_name %>
    <%= f.input :homepage_pic %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
