<%= simple_form_for(@homepage_info, multipart: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :homepage_display_name, label: 'Display Name:', placeholder: 'Tom Brady' %>
    <%= f.input :homepage_header, label: 'Personal Slogan:', placeholder: 'Patriots | Football | Family' %>
    <%= f.input :homepage_pic, label: 'Background Image:' %>
    <% if @homepage_info.homepage_pic? %>
    	<%= image_tag @homepage_info.homepage_pic.url(:med) %>
    	<br/><br/>
	<% end %>
  </div>

  <div class="form-actions">
    <br/>
   <%= f.button :submit, 'Save' %>   
   <% if current_user.homepage_info != nil %>     
     <a href="#" data-reveal-id="previewModal" class = "button alt3">View</a>
   <% end %>
  </div>
<% end %>
