<%= simple_form_for(@homepage_info, multipart: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :homepage_display_name, label: 'Display Name:', placeholder: 'Tom Brady' %>
    <%= f.input :homepage_header, label: 'Personal Slogan:', placeholder: 'Patriots | Football | Gisele' %>
    <%= f.input :homepage_pic, label: 'Background Image:' %>
    <% if @homepage_info.homepage_pic? %>
    	<%= image_tag @homepage_info.homepage_pic.url(:med) %>
    	<br/><br/>
	<% end %>
  </div>

  <div class="form-actions">
    <br/>
    <%= f.button :submit %>
  </div>
<% end %>
