<div id="previewModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

<% @user = current_user %>


<!-- CHANGING PRIMARY-COLOR FOR USER -->
<% if @user.website_setting != nil %>
<% if @user.website_setting.color == 0 %>
<%= render 'primary_color0' %>
<% elsif @user.website_setting.color == 1 %>
<%= render 'primary_color1' %>
<% elsif @user.website_setting.color == 2 %>
<%= render 'primary_color2' %>
<% elsif @user.website_setting.color == 3 %>
<%= render 'primary_color3' %>
<% elsif @user.website_setting.color == 4 %>
<%= render 'primary_color4' %>
<% elsif @user.website_setting.color == 5 %>
<%= render 'primary_color5' %>
<% end %>
<% end %>




<body>


  <div class="off-canvas-wrap fixed" data-offcanvas>
    <div class="inner-wrap">


      <section class="main-section">



        
          <!-- START BLOG SECTION -->
          <div class = "content section blog">
            <a name = "blog" data-magellan-destination="blog"></a>
            <div class = "row blog">
              <div class = "small-12 columns">
                <h3 class = "header text-left"> Reading List </h3>
                <h5 class = "dark-gray"><i> Articles from around the web that I've found interesting </i> </h5>
                <br/>
                <ul class="small-block-grid-1 medium-block-grid-1 no-bullet articles data-equalizer">
                  <% @user.articles.each do |article| %>
                  <li = "post data-equalizer-watch"> 
                    <a href= "<%= article.url %>">
                      <h4> <%= article.title %> </h4>
                      <p> <%= article.summary %> </p>
                    </a>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <!-- END BLOG SECTION -->

      




      </section> 
      <!-- END MAIN SECTION -->
      <a class="exit-off-canvas"></a>
    </div>
    <!-- END OFF-CANVAS WRAP -->
  </body>







	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>