  <div class="off-canvas-wrap fixed" data-offcanvas>
  	<div class="inner-wrap">
  		<div class = "show-for-small-only">
  			<!-- MOBILE NAV BAR -->
  			<div class = "fixed">
  				<nav class="tab-bar show-for-small-only">
  					<section class="right-small">
  						<a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
  					</section>
  				</nav>
  			</div>

        <% @user = current_user %>

  			<!-- MOBILE NAVIGATION OFFCANVAS LIST -->
  			<aside class="right-off-canvas-menu" aria-hidden="true">
  				<ul class="off-canvas-list">
  					<li><label><%= @user.email %></label></li>
  					<li>
  						<% if @user.homepage_info != nil %> 
  						<%= link_to 'Landing Page', edit_homepage_info_path(@user.homepage_info), data: { no_turbolink: true } %> 
  						<% else %> 
  						<%= link_to 'Landing Page', new_homepage_info_path, data: { no_turbolink: true } %>  
  						<% end %>
  					</li>
  					<li>
  						<% if @user.personal_info != nil %> 
  						<%= link_to 'Personal Info', edit_personal_info_path(@user.personal_info), data: { no_turbolink: true } %> 
  						<% else %> 
  						<%= link_to 'Personal Info', new_personal_info_path, data: { no_turbolink: true } %>  
  						<% end %>
  					</li>
<!--   					<li>
  						<% if @user.background_info != nil %> 
  						<%= link_to 'Background Info', edit_background_info_path(@user.background_info), data: { no_turbolink: true } %> 
  						<% else %> 
  						<%= link_to 'Background Info', new_background_info_path, data: { no_turbolink: true } %>  
  						<% end %>
  					</li> -->
            <li>
              <%= link_to "Projects", projects_path, data: { no_turbolink: true } %>
            </li>

  					<li>
  						<%= link_to "Reading List", articles_path, data: { no_turbolink: true } %>
  					</li>
            <li>
              <%= link_to "Photos", edit_photo_path(@user.photos), data: { no_turbolink: true } %>
            </li>
  					<li>
  						<% if @user.social_link != nil %> 
  						<%= link_to 'Social Links', edit_social_link_path(@user.social_link), data: { no_turbolink: true } %> 
  						<% else %> 
  						<%= link_to 'Social Links', new_social_link_path, data: { no_turbolink: true } %>  
  						<% end %>
  					</li>
  					<li>
  						<% if @user.website_setting != nil %> 
  						<%= link_to 'Website Settings', edit_website_setting_path(@user.website_setting), data: { no_turbolink: true } %> 
  						<% else %> 
  						<%= link_to 'Website Settings', new_website_setting_path, data: { no_turbolink: true } %>  
  						<% end %>
  					</li>
            <li class = "alt">
              <% if valid_user(@user) %>
              <i></i><i></i><%= link_to('View Profile', user_path(@user), data: { no_turbolink: true }) %>
              <% end %>
            </li>

            <li>
              <%= link_to "Account Settings", edit_user_registration_path %>
            </li>
            <li>
              <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
          </ul>

        </aside>
        <!-- END MOBILE NAV OFFCANVAS -->
      </div>



      <div class = "show-for-medium-up medium-3 columns nav no-padding sidebar">
       <div class = "small-12 columns text-center logo-column no-padding">
        <div class = "logo">
         <%= link_to image_tag("brandclub_logo.png"), "/", data: { no_turbolink: true } %>
       </div>
     </div>
     <div class = "small-12 columns home-link no-padding">
      <h5> <%= link_to "Your Website Content", edit_user_path(@user) %></h5>
    </div>
    <div class = "small-10 columns small-centered links">

      <ul class = "no-bullet">
       <% if @user.homepage_info != nil %>
       <li class="<%= active_class(edit_homepage_info_path(@user.homepage_info)) %>">
        <i class="fa fa-home"></i><%= link_to 'Landing Page', edit_homepage_info_path(@user.homepage_info) %>
        <% else %>
        <li class="<%= active_class(new_homepage_info_path) %>">	
         <i class="fa fa-home"></i><%= link_to 'Landing Page', new_homepage_info_path %> 
         <% end %>
       </li>


       <% if @user.personal_info != nil %>
       <li class="<%= active_class(edit_personal_info_path(@user.personal_info)) %>">
         <i class="fa fa-user"></i> <%= link_to 'Personal Info', edit_personal_info_path(@user.personal_info) %>
         <% else %>
         <li class="<%= active_class(new_personal_info_path) %>">
          <i class="fa fa-user"></i><%= link_to 'Personal Info', new_personal_info_path %> 
          <% end %>
        </li>


<!--         <% if @user.background_info != nil %>
        <li class="<%= active_class(edit_background_info_path(@user.background_info)) %>">
          <i class="fa fa-history"></i><%= link_to 'Background Info', edit_background_info_path(@user.background_info) %>
          <% else %>
          <li class="<%= active_class(new_background_info_path) %>">
           <i class="fa fa-history"></i><%= link_to 'Background Info', new_background_info_path %> 
           <% end %>
         </li> -->



          <li class="<%= active_class(projects_path) %>">
            <i class="fa fa-folder-open-o"></i><%= link_to "Projects", projects_path %>
          </li>


          <li class="<%= active_class(articles_path) %>">
            <i class="fa fa-newspaper-o"></i><%= link_to "Reading List", articles_path %>
          </li>

          <li class="<%= active_class(photos_path) %>">
            <i class="fa fa-picture-o"></i><%= link_to "Photos", photos_path %>
          </li>



           <% if @user.social_link != nil %>
           <li class="<%= active_class(edit_social_link_path(@user.social_link)) %>">
             <i class="fa fa-linkedin"></i><%= link_to 'Social Links', edit_social_link_path(@user.social_link) %>
             <% else %>
             <li class="<%= active_class(new_social_link_path) %>">
              <i class="fa fa-linkedin"></i><%= link_to 'Social Links', new_social_link_path %> 
              <% end %>
            </li>



            <% if @user.website_setting != nil %>
            <li class="<%= active_class(edit_website_setting_path(@user.website_setting)) %>">
              <i class="fa fa-cog"></i><%= link_to 'Website Settings', edit_website_setting_path(@user.website_setting) %>
              <% else %>
              <li class="<%= active_class(new_website_setting_path) %>">
               <i class="fa fa-cog"></i><%= link_to 'Website Settings', new_website_setting_path %> 
               <% end %>
             </li>



             <li class = "alt">
               <% if valid_user(@user) %>
               <i></i><i></i><%= link_to('View Profile', user_path(@user), data: { no_turbolink: true }) %>
               <% end %>
             </li>
           </ul>
         </div>

         <!-- <div class = "small-10 columns small-centered links account">
           <ul class = "no-bullet">
            <li>
             <%= link_to "Edit Account Settings", edit_user_registration_path %>
           </li>
           <li>
             <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
           </li>
         </ul>
       </div> -->
     </div>
